// HOME
.home-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  height: 100%;
  width: 100%;
  background: $grey-background;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white-text;
  font-size: 3rem;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  background: $white-text;
  color: $grey-text;
}