.tunes-wrapper {
  height: 100vh;
  // height: 95vh;
  width: 100vw;
  display: flex;
  overflow-x: scroll;

  scroll-snap-type: x mandatory;
}

.tune-container {
  height: 100%;
  min-width: 100vw;
  background: $grey-background;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  scroll-snap-align: start;
  border-right: 1vw rgba(0, 0, 0, 0.328) solid;
}

.tune-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
}

.tune-container > h3 {
  font-size: 700%;
  // color: rgba(0, 0, 0, 0.328);
  color: $white-text;
  position: relative;
  bottom: 10vh;
  // bottom: 5vh;
  left: 5vw;
  align-self: flex-start;
  text-justify: left;
}
