.login-page {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  height: 35vh;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid $skele-grey;
  border-radius: 5px;
}
.register-form-container {
  height: 47vh;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid $skele-grey;
  border-radius: 5px;
}

.register-form {
  height: 40vh;
  width: 40vw;
  // border: 1px red solid;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  height: 30vh;
  width: 40vw;
  // border: 1px red solid;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form > div {
  height: 35%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form > div {
  height: 35%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-title {
  width: 40%;
}

.login-input {
  width: 60%;
}

.login-submit {
  margin-top: 5vh;
  width: 100%;
}