body {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  color: #555;
  background: #F9F9F9;
  // background: #E8E8E8;
}

nav {
  height: 5vh;
}

$skele-grey-dark: #555;
$skele-grey-light: #bbb;

@import './home.scss';
@import './tuner.scss';
@import './metronome.scss';
@import './login-register.scss'




